body {
  font: 100% "Roboto", sans-serif;
  background: snow;
  margin: 0; }

header {
  border-top: solid black 7px;
  padding-top: 25px;
  min-height: 95px;
  font-size: 0.9rem;
  position: relative; }

.title, h1 {
  display: inline-flex;
  margin: 0; }

h1 {
  padding: 0 20px; }

footer, header, #loader-wrapper, #list {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 375px; }

footer {
  text-align: right;
  font-size: 0.8rem; }

#loader {
  opacity: 1;
  position: absolute;
  left: calc(50% - (50px / 2));
  top: 25%;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  transition-property: opacity, height, width, left;
  transition-duration: 700ms;
  border-style: solid;
  border-width: 3px;
  border-top-color: lightpink;
  border-bottom-color: #b3e6fb;
  border-left-color: navajowhite;
  border-right-color: lightgrey; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.imp-1 {
  background: mistyrose;
  border-left: 5px solid lightpink; }

.imp-2 {
  background: cornsilk;
  border-left: 5px solid navajowhite; }

.imp-3 {
  background: aliceblue;
  border-left: 5px solid #b3e6fb; }

#list {
  margin-top: 0;
  padding: 0; }

ul {
  list-style-type: none;
  min-height: 75vh;
  border-bottom: solid black 7px; }

li, #new-item {
  padding: 8px 0;
  margin: 6px 0;
  font-weight: 600;
  opacity: 0;
  transition: opacity 100ms linear; }

#no-tasks {
  text-align: center;
  margin: 30px 0;
  font-weight: 600;
  color: teal;
  font-size: 1.1rem;
  background: whitesmoke;
  padding: 20px 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2; }

.tick-box {
  font-size: 1rem;
  font-weight: 600;
  color: white; }

.checked {
  color: grey; }
  .checked .tick-box {
    color: black; }

button:focus, input, #importance-selector {
  outline: none !important; }

button {
  display: inline-block;
  margin: 0 10px;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 0;
  height: 30px;
  width: 30px; }

button:focus, textarea {
  outline: none !important; }

.delete-button {
  background: white; }

.plus {
  display: inline-flex;
  font-size: 1.9rem; }

.text {
  display: inline-flex;
  position: relative;
  top: -3px; }

#new-item {
  position: absolute;
  bottom: 0;
  width: calc(100% - 5px);
  background: lightgrey;
  border-left: 5px solid grey;
  margin: 0;
  opacity: 1;
  transition: opacity 299ms linear; }
  #new-item input, #new-item #importance-selector {
    height: 30px;
    border: none;
    background: none;
    padding-left: 15px;
    font-size: 1rem;
    color: grey; }

#add-new-item-button, .delete-button {
  float: right;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  background: whitesmoke; }

#importance-selector {
  float: right;
  border-radius: 25px;
  border: none; }

#add-item-button {
  float: right;
  width: 115px;
  height: 35px;
  border-radius: 35px;
  font-size: 1rem;
  padding: 0;
  opacity: 1;
  transition: opacity 299ms linear; }

/*# sourceMappingURL=index.css.map */
