$font-stack: 'Roboto', sans-serif;

$font-size: 1rem;

$colors: mistyrose, cornsilk, aliceblue;

$border-colors: lightpink, navajowhite, #b3e6fb;

$border-top-bottom: solid black 7px;

$tickbox-size: 30px;

$list-width: 95%;

$list-max-width: 375px;

@for $i from 1 through length($colors) {
 .imp-#{$i}  {
    background: nth($colors, $i);
    border-left: 5px solid nth($border-colors, $i);
  }
}

body{
  font: 100% $font-stack;
  background: snow;
  margin: 0;
}


header{
  border-top: $border-top-bottom;
  padding: 40px 0;
  font-size: 0.9rem;
}

footer, header{
  margin-left: auto;
  margin-right: auto;
  width: $list-width;
  max-width: $list-max-width;
}

footer{
  text-align: right;
  font-size: 0.8rem;
}

#list{
  width: $list-width;
  max-width: $list-max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

ul{
  list-style-type: none;
  height: 75vh;
  border-bottom: $border-top-bottom;
}

li{
  padding: 8px 0;
  margin: 6px 0;
  font-weight: 600;
}

button{
  display: inline-block;
  margin: 0 10px;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.28);
  box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.2);
  border: none;
  padding: 0;
  height: $tickbox-size;
  width: $tickbox-size;
}

button:focus, textarea {
    outline: none !important;
}

#addItem{
  float: right;
  width: 115px;
  height: 35px;
  border-radius: 35px;
  font-size: 1rem;
  padding: 0;

}

.title, h1{
  display: inline-flex;
  margin: 0;
}

h1{
  padding: 0 20px; 
}

.tick-box,{
  font-size: $font-size;
  font-weight: 600;
}


