$font-stack: 'Roboto', sans-serif;

$font-size: 1rem;

$colors: mistyrose, cornsilk, aliceblue;

$border-colors: lightpink, navajowhite, #b3e6fb;

$border-top-bottom: solid black 7px;

$tickbox-size: 30px;

$list-width: 95%;

$list-max-width: 375px;

$loader-dimentions: 50px;

$box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.2);

$border-radius: 25px;

$border-left: 5px solid;

// ==============
// static content
// ==============

body{
  font: 100% $font-stack;
  background: snow;
  margin: 0;
}

header{
  border-top: $border-top-bottom;
  padding-top: 25px;
  min-height: 90px;
  position: relative;
}

.title, h1{
  display: inline-flex;
  margin: 0;
}

h1{
  padding: 0 20px; 
}

footer, header, #loader-wrapper, #list{
  margin-left: auto;
  margin-right: auto;
  width: $list-width;
  max-width: $list-max-width;
}

footer{
  text-align: right;
  font-size: 0.8rem;
}

// ======
// Loader
// ======

#loader {
  position: absolute;
  left: calc(50% - (#{$loader-dimentions} / 2));
  top: 25%;
  display: inline-block;
  border-radius: 50%;
  width: $loader-dimentions;
  height: $loader-dimentions;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  opacity: 1;
  transition-property: opacity, height, width, left;
  transition-duration: 700ms;
  border-style: solid;
  border-width: 3px;
  border-top-color: lightpink;
  border-bottom-color: #b3e6fb;
  border-left-color: navajowhite;
  border-right-color: lightgrey;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// =============
// list of tasks
// =============

@for $i from 1 through length($colors) {
 .imp-#{$i}  {
  background: nth($colors, $i);
  border-left: $border-left nth($border-colors, $i);
}
}

#list{
  margin-top: 0;
  padding: 0;
}

ul{
  list-style-type: none;
  min-height: 75vh;
  border-bottom: $border-top-bottom;
}

li, #new-item{
  padding: 8px 0;
  margin: 6px 0;
  opacity: 0;
  transition: opacity 100ms linear;
}

#no-tasks{
 text-align: center;
 margin: 30px 0;
 color: teal;
 font-size: 1.1rem;
 background: whitesmoke;
 padding: 20px 0;
 border-radius: 10px;
 -webkit-box-shadow: $box-shadow;
 -moz-box-shadow: $box-shadow;
 box-shadow: $box-shadow;
 position: relative;
 z-index: 2;
 min-height: 100px;
 padding-top: 50px;
}

// =========
// check box
// =========

.tick-box,{
  font-size: $font-size;
  color: white;
}

.checked{
  color: grey;

  .tick-box{
    color: black;
  }
}

// ===========
// buttons etc
// ===========

button:focus, input, #importance-selector {
  outline: none !important;
}

button{
  display: inline-block;
  margin: 0 10px;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  border: none;
  padding: 0;
  height: $tickbox-size;
  width: $tickbox-size;
}

button:focus, textarea {
  outline: none !important;
}

.delete-button{
  background: white;
}

.plus{  
  display: inline-flex;
  font-size: 1.9rem;
}

.text{
  display: inline-flex;
  position: relative;
  top: -3px;
}


// =================
// create a new task
// input area
// =================

#new-item{
  position: absolute;
  bottom: 0;
  width: calc(100% - 5px);
  background: lightgrey;
  border-left: $border-left grey;
  margin: 0;
  opacity: 1;
  transition: opacity 299ms linear;
  
  input, #importance-selector{
    height: 30px;
    border: none;
    background: none;
    padding-left: 15px;
    color: grey;
  }
  
  input{
    font-size: $font-size;  
  }
}

#add-new-item-button, .delete-button{
  float: right;
  border-radius: $border-radius;
  font-size: $font-size;  
  background: whitesmoke;
}

#importance-selector{
  float: right;
  border-radius: $border-radius;
  font-size: 0.9rem;
  border: none;
}

#add-item-button{
  float: right;
  width: 115px;
  height: 35px;
  border-radius: $border-radius;
  font-size: $font-size;
  padding: 0;
  opacity: 1;
  transition: opacity 299ms linear;
} 

